[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psycopg2 = "*"
python-dotenv = "*"
pandas = "*"
numpy = "*"
flask-sqlalchemy = "*"
flask = "*"
requests = "*"
flask-migrate = "*"
sklearn = "*"
scikit-learn = "0.22.2"
joblib = "*"
gunicorn = "*"

[requires]
python_version = "3.8"
