[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gensim = "==3.8.1"
spacy = "==2.2.3"
scikit-learn = "==0.22.2"
seaborn = "==0.9.0"
squarify = "==0.4.3"
ipykernel = "*"
pandas = "==1.0.3"
scipy = "*"
beautifulsoup4 = "*"
numpy = "==1.18.3"
requests = "==2.23.0"
joblib = "==0.14.1"
gunicorn = "==20.0.4"
pyLDAvis = "==2.1.2"
Flask-SQLAlchemy = "==2.4.1"
Flask = "==1.1.2"
Flask-Migrate = "==2.5.3"

[requires]
python_version = "3.8"
